{% extends "base.html" %}

{% block title %}改密码{% endblock %}

{% block page_content %}
    <div class="login-page">
        <div class="row">
            <div class="col-xs-6 col-md-4 col-sm-offset-4">
                <h3 class="text-center">输入旧密码和新密码</h3>
                <br>
                <form class="form-horizontal" role="form" method="post" action="{{ url_for('login.change_password') }}">
                    {{ form.csrf_token }}
                    <div class="form-group form-group-lg">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span> </span>
                                {{ form.old_password(class='form-control', placeholder='旧密码') }}
                            </div>
                            {% for error in form.old_password.errors %}
                                <span class="col-sm-12" style="color: #ff0000; text-align: center;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span> </span>
                                {{ form.password(class='form-control', placeholder='新密码') }}
                            </div>
                            {% for error in form.password.errors %}
                                <span class="col-sm-12" style="color: #ff0000; text-align: center;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span> </span>
                                {{ form.password2(class='form-control', placeholder='新密码') }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <div class="col-sm-offset-4 col-sm-5">
                            <button type="submit" class="btn btn-success btn-block btn-lg">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}