{% extends 'participant/participant_base.html' %}

{% import 'pagination_macro.html' as macro %}

{% block title %}管理活动{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="entry-box manage-articles">
            <h3><strong>管理收藏夹</strong></h3>
            <hr/>
            <div class="row articles-list">
                <div class="list-handle">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <a class="btn btn-danger" id="deleteActivities">
                                <span class="glyphicon glyphicon-trash"></span>批量删除
                            </a>
                        </div>
                    </div>
                </div>
                <div class="list-details">
                    <form class="delete-activities" id="deleteActivitiesForm" method="post"
                          action="{{ url_for('participant.delete_activities', page=page) }}">
                        {{ form2.csrf_token }}
                        {{ form2.activity_ids(type='hidden', value='') }}
                        <form>
                            {{ form1.activity_id(type='hidden') }}
                        </form>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr class="table-header">
                                <th class="table-checkbox-or-left"><input type="checkbox" id="select-all">全选</th>
                                <th>活动名称</th>
                                <th>开始日期</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for activity in activities %}
                                <tr>
                                    <td class="table-checkbox-or-left"><input type="checkbox" class="op_check"
                                                                              value="{{ activity.id }}"></td>
                                    <td class="table-checkbox-or-left"><a
                                            href="{{ url_for('participant.activity_details', activity_id=activity.id) }}"
                                            target="_blank">
                                        {{ activity.name }}
                                    </a></td>
                                    <td>{{ activity.start_date.strftime('%m-%d') }}</td>
                                    <td>
                                        <form class="delete-activity" id="deleteActivityForm{{ activity.id }}" method="post"
                                              action="{{ url_for('participant.delete_activity', page=page) }}">
                                            {{ form1.csrf_token }}
                                            {{ form1.activity_id(type='hidden', value=activity.id) }}
                                            <a class="btn btn-sm btn-default"
                                               onclick="deleteActivity({{ activity.id }})" title="删除活动">
                                                <span class="glyphicon glyphicon-trash" style="color: red;"></span>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="pagination">
                    {{ macro.pagination_widget(pagination, endpoint) }}
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteActivityModal">
            <div class="modal-dialog">
                <div class="modal-content message_align">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">确认删除？</h4>
                    </div>
                    <div class="modal-body">
                        <p>删除之后不可恢复，确认删除吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a id="deleteActivityConfirm" class="btn btn-success" data-dismiss="modal">确定</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="selectActivityModal">
            <div class="modal-dialog">
                <div class="modal-content message_align">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">未选择活动</h4>
                    </div>
                    <div class="modal-body">
                        <p>请选择要删除的活动</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a class="btn btn-success" data-dismiss="modal">确定</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteActivitiesModal">
            <div class="modal-dialog">
                <div class="modal-content message_align">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">确认删除所选活动？</h4>
                    </div>
                    <div class="modal-body">
                        <p>删除后不可恢复，确认删除吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <a id="deleteActivitiesConfirm" class="btn btn-success" data-dismiss="modal">确定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/deleteActivity.js') }}"></script>
{% endblock %}
